@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import "tailwindcss";

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}



/* Tutta la scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Sfondo della scrollbar */
::-webkit-scrollbar-track {
  background: #0f0c29;
}

/* Thumb (parte mobile) */
::-webkit-scrollbar-thumb {
  background-color: #6b21a8;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #8b5cf6;
}

/* Per Firefox */
html {
  scrollbar-color: #6b21a8 #0f0c29; /* thumb / track */
  scrollbar-width: thin;
 
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.custom-swal-popup {
  border: #8b5cf6;
}
